@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap";

$raleway: "Raleway", sans-serif;
$bold: 600;
$medium: 500;
$regular: 400;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font30: 30px;
