@mixin flex($alignItems: center, $justifyContent: center, $flexDirection: row) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItems;
    justify-content: $justifyContent;
}
