@use "../../styles/general.scss";

@keyframes ring {

    0% {
        box-shadow: 1px 5px 2px #e65c00;
        transform: rotate(0deg);
    }

    50% {
        box-shadow: 1px 5px 2px #18b201;
        transform: rotate(180deg);
    }

    100% {
        box-shadow: 1px 5px 2px #0456c8;
        transform: rotate(360deg);
    }
}

@keyframes text-disappear {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.spinner {
    position: absolute;
    top: 0;
    z-index: 9;
   @include general.flex();
    width: general.$fullWidth;
    min-height: general.$absoluteHeight100;
    text-align: center;
    background-color: general.$white;

    .ring {
        position: absolute;
        z-index: 10;
        width: 200px;
        height: 200px;
        border-radius: general.$borderRound;
        animation: ring 2s linear infinite;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: general.$fullWidth;
            height: general.$fullHeight;
            border-radius: general.$borderRound;
            box-shadow: 0 0 5px rgb(255 255 255 / 50%);
            content: "";
        }
    }

    span {
        color: #737373;
        font-size: general.$font24;
        line-height: 200px;
        letter-spacing: 1px;
        text-transform: uppercase;
        animation: text-disappear 2s linear infinite;
        font-family:Arial, Helvetica, sans-serif;
    }
}
