@use "../styles/general.scss";

.cart {
    padding: 80px 100px;

    .cart-title {
        margin-top: 0;
        margin-bottom: 55px;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
    }

    .cart-item {
        @include general.flex(center, space-between);

        box-sizing: border-box;
        height: 500px;
        padding: 24px 0;
        border-top: 1px solid general.$cartItemBorderColor;

        &:last-child {
            border-bottom: 1px solid general.$cartItemBorderColor;
        }

        .item-desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .item-brand {
                margin-bottom: 20px;
                font-weight: general.$bold;
                font-size: general.$font30;
            }

            .item-type {
                margin-bottom: 20px;
                font-weight: general.$regular;
                font-size: general.$font30;
            }

            .item-price {
                margin-bottom: 20px;
                font-weight: general.$bold;
                font-size: general.$font24;
            }
        }

        .item-actions {
            display: flex;
            height: general.$fullHeight;

            .item-amount {
                @include general.flex(center, space-between, column);

                margin-right: 25px;

                .amount-btn {
                    @include general.flex;

                    width: 45px;
                    height: 45px;
                    background-color: transparent;
                    border: 1px solid general.$black;
                }

                .amount {
                    font-weight: general.$medium;
                    font-size: general.$font24;
                }
            }

            .item-image {
                position: relative;
                height: general.$fullHeight;

                .image {
                    height: general.$fullHeight;
                }
            }

            .changer {
                position: absolute;
                right: 15px;
                bottom: 15px;
                display: flex;

                .changer-btn {
                    @include general.flex(stretch, center);

                    width: 24px;
                    height: 24px;
                    color: general.$white;
                    background: #000000ba;
                }

                .prev-img {
                    margin-right: 10px;
                }
            }
        }
    }
}

.total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin-top: 30px;
    font-size: general.$font24;

    .tax,
    .quantity,
    .total {
        display: flex;
        margin-bottom: 15px;
    }

    .total-text {
        width: 90px;
        font-weight: general.$regular;
        font-size: general.$font24;

        &.result {
            font-weight: general.$medium;
        }
    }

    .total-amount {
        margin-left: 15px;
        font-weight: general.$bold;
    }

    .order-btn {
        box-sizing: border-box;
        width: general.$fullWidth;
        padding: 16px 0;
        color: general.$white;
        background-color: general.$green;
        border: none;
    }
}

@media (max-width: 768px) {

    .cart {
        padding: 50px;
        .cart-title {
            text-align: center;
            font-size: 46px;
        }
        .cart-item {
            flex-direction: column;
            height: auto;

            .item-actions {
                display: flex;
                justify-content: center;
                width: general.$fullWidth;
                height: general.$fullHeight;
                margin-top: 20px;

                .item-image {

                    .image {
                        height: 200px;
                    }
                }
            }
        }
    }

    .total-container {
        margin-top: 20px;
        max-width: general.$fullWidth;
        align-items: center;
    }
}
