@use "../styles/general.scss";

.category-title {
    margin-top: 80px;
    margin-bottom: 0;
    padding-left: 100px;
    font-weight: general.$regular;
    font-size: general.$font42;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 80px 80px 100px;

    .product-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        width: calc((100% - 100px) / 3);
        margin-top: 100px;
        padding: 15px;
        background-color: general.$white;

        &:nth-child(3n + 2) {
            margin: 0 50px;
            margin-top: 100px;
        }

        .product-image__container {
            position: relative;
            z-index: 0;
            height: 300px;
            margin-bottom: 20px;

            .cart-btn {
                position: absolute;
                right: 15px;
                bottom: 0;
                display: none;
                padding: 15px;
                background-color: general.$green;
                border: none;
                border-radius: general.$borderRound;
                transform: translateY(50%);
                filter: drop-shadow(0 4px 11px rgb(29 31 34 / 10%));
                transition: general.$defaultTransition;
            }

            .product-image {
                width: general.$fullWidth;
                height: general.$fullHeight;
                object-fit: fill;
                object-position: center;
            }
        }

        &:not(.not-available):hover {
            box-shadow: 0 4px 35px #a8acb030;

            .cart-btn {
                display: block;
            }
        }

        &.not-available {

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: general.$fullWidth;
                height: general.$fullHeight;
                background-color: general.$white;
                opacity: 0.5;
                content: "";
            }

            .product-image__container {

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 3;
                    width: max-content;
                    font-size: 24px;
                    transform: translate(-50%, -50%);
                    content: "OUT OF STOCK";
                }
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 768px) {

    .products {

        .product-card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            width: 50%;
            margin-top: 50px;

            &:nth-child(3n + 2) {
                margin: 0;
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {

    .products {
        padding: 0 50px;

        .product-card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            width: 100%;
            margin-top: 50px;

            &:nth-child(3n + 2) {
                margin: 0;
                margin-top: 50px;
            }
        }
    }
}
