@use  "../styles/general.scss";

.product {
    @include general.flex(center, space-between);
    box-sizing: border-box;
    width: general.$fullWidth;
    height: 700px;
    margin-top: 80px;
    padding: 0 100px;

    .product-images {
        display: flex;
        flex: 2;
        margin-right: 100px;

        .secondary-images {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 20%;

            .secondary-image {
               width: general.$fullWidth;
            }
        }

        .main-image {
            width: 70%;
            margin-left: 40px;
        }
    }

    .product-description {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        height: general.$fullHeight;

        .brand {
            margin-bottom: 15px;
            font-weight: general.$bold;
            font-size: general.$font30;
        }

        .name {
            margin-bottom: 40px;
            font-size:  general.$font30;
        }

        .price {
            margin-top: 40px;

            .price-title {
                margin-bottom: 10px;
                font-weight: general.$bold;
                font-size: general.$font18;
            }

            .price-amount {
                margin-bottom: 10px;
                font-weight: general.$bold;
                font-size: general.$font24;
            }
        }

        .btn-add {
            @include general.flex();
            box-sizing: border-box;
            width: general.$fullWidth;
            max-width: 300px;
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 16px;
            color: general.$white;
            font-weight: general.$bold;
            font-size: general.$font16;
            text-transform: uppercase;
            background-color: general.$green;
        }
    }
}
