.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    margin-top: 80px;
    padding: 0 100px;

    .product-images {
        display: flex;
        flex: 2;
        margin-right: 100px;

        .secondary-images {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 20%;

            .secondary-image {
                width: 100%;
            }
        }

        .main-image {
            width: 70%;
            margin-left: 40px;
        }
    }

    .product-description {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;

        .brand {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 30px;
        }

        .name {
            margin-bottom: 40px;
            font-size: 30px;
        }



        .price {
            margin-top: 40px;

            .price-title {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 18px;
            }

            .price-amount {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 24px;
            }
        }

        .btn-add {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 100%;
            max-width: 300px;
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            background-color: #5ece7b;
        }

        .description {
            font-family: Roboto;
        }
    }
}
