@use "../../styles/fonts.scss";
@use "../../styles/colors.scss";

header {
  background-color:#FFFFFF;
  height: 80px;
  top: 0;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  z-index: 1;

  .navigation-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    .navigation-item {
      font-size: fonts.$font16;
      padding: 5px 16px;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
      }
      &.active {
        font-weight: fonts.$bold;
        color: colors.$green;
        border-bottom: 2px solid colors.$green;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    .currency {
        position: relative;
      display: flex;
      align-items: center;
      font-size: fonts.$font18;
      margin-right: 20px;
      .currency-caret {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        margin-left: 10px;
      }
      .currency-list {
        position: absolute;
        box-sizing: border-box;
        padding: 20px 40px 20px 20px;
        top: 0;
        left: 0px;
        max-width: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
        .currency-item {
            background-color: #FFFFFF;
            width: max-content;
            flex-direction: row;
            display: flex;
            list-style: none;
            padding: 10px 40px 10px 20px;
            box-sizing: border-box;
            font-size: fonts.$font18;
            font-weight: fonts.$medium;
            &.active {
                background: #EEEEEE;
            }
        }
      }
    }
    .cart {
      display: flex;
      align-items: center;
    }
  }
}
