@use "../../../styles/general.scss";

.cart-btn {
    position: relative;

    @include general.flex;

    .cart-btn_icon {
        position: relative;

        @include general.flex;

        .cart-badge {
            position: absolute;
            top: -12px;
            right: -12px;

            @include general.flex;

            width: 21px;
            height: 21px;
            color: general.$white;
            font-weight: general.$bold;
            font-size: general.$font14;
            background-color: general.$black;
            border-radius: general.$borderRound;
        }
    }
}
