@use "../../styles/fonts.scss";
@use "../../styles/colors.scss";

.minicart-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgb(57 55 72 / 22%);
}

::-webkit-scrollbar {
    display: none;
}

.minicart {
    position: absolute;
    top: 50px;
    left: -325px;
    z-index: 10;
    box-sizing: border-box;
    width: 350px;
    padding: 32px 16px;
    background: white;

    .minicart-title {
        margin-bottom: 15px;
        font-weight: fonts.$regular;
        font-size: fonts.$font16;

        .bold {
            font-weight: fonts.$bold;
        }
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        max-height: 450px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        height: 210px;
        margin-top: 40px;

        .item-desc {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            width: 160px;
            height: 100%;
            margin-right: 10px;
            padding-bottom: 10px;

            .item-brand {
                margin-top: 0;
                font-weight: fonts.$regular;
                font-size: fonts.$font16;
            }

            .item-type {
                font-weight: fonts.$regular;
                font-size: fonts.$font16;
            }

            .item-price {
                font-weight: fonts.$bold;
                font-size: fonts.$font16;
            }

            .attribute {

                .attribute-title {
                    margin: 0;
                    font-weight: 400;
                    font-size: 16px;
                }

                .attribute-list {
                    display: flex;
                    margin-bottom: 0;

                    .attribute-list__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                        font-size: 14px;
                        border: 1px solid black;
                        transition: 0.3s ease-in-out;

                        &.selected {
                            color: white;
                            background-color: black;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &.colors {

                        .attribute-list__item {
                            width: 16px;
                            height: 16px;
                            border: none;

                            &.selected {
                                box-shadow: 0 0 0 1px white, 0 0 0 3px green;
                            }
                        }
                    }
                }
            }
        }

        .item-actions {
            display: flex;
            width: 24px;
            height: 100%;

            .item-amount {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-right: 10px;

                .amount-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    background-color: transparent;
                    border: 1px solid black;
                }

                .amount {
                    font-weight: fonts.$medium;
                    font-size: fonts.$font16;
                }
            }

            .item-image {
                position: relative;
                height: 100%;

                .image {
                    width: 120px;
                    height: 100%;
                }
            }

            .changer {
                position: absolute;
                right: 15px;
                bottom: 15px;
                display: flex;

                .changer-btn {
                    display: flex;
                    align-items: stretch;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    color: white;
                    background: rgb(0 0 0 / 73%);
                }

                .prev-img {
                    margin-right: 10px;
                }
            }
        }
    }

    .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0;
        font-weight: fonts.$bold;
        font-size: fonts.$font16;
    }

    .minicart-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .bag-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            margin-right: 15px;
            padding: 15px 30px;
            font-weight: fonts.$bold;
            font-size: fonts.$font14;
            border: 1px solid black;
        }

        .checkout-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 15px 30px;
            color: white;
            font-weight: fonts.$bold;
            font-size: fonts.$font14;
            background-color: #5ece7b;
            border: none;
        }
    }
}
