@use "../../styles/general.scss";

.minicart-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: general.$fullWidth;
    height: general.$fullHeight;
    min-height: general.$fullHeight;
    background: general.$miniCartBg;
}

::-webkit-scrollbar {
    display: none;
}

.minicart {
    position: absolute;
    top: 50px;
    left: -325px;
    z-index: 10;
    box-sizing: border-box;
    width: 350px;
    padding: 32px 16px;
    background: general.$white;

    .minicart-title {
        margin-bottom: 15px;
        font-weight: general.$regular;
        font-size: general.$font16;

        .bold {
            font-weight: general.$bold;
        }
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .cart-item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: max-content;
        margin-top: 40px;
        padding-left: 5px;

        .item-desc {
            @include general.flex(flex-start, flex-start, column);

            gap: 10px;
            width: 160px;
            height: general.$fullHeight;
            margin-right: 10px;
            padding-bottom: 10px;

            .item-brand {
                margin-top: 0;
                font-weight: general.$regular;
                font-size: general.$font16;
            }

            .item-type {
                font-weight: general.$regular;
                font-size: general.$font16;
            }

            .item-price {
                font-weight: general.$bold;
                font-size: general.$font16;
            }

            .attribute {

                .attribute-title {
                    margin: 0;
                    font-weight: general.$regular;
                    font-size: general.$font16;
                }

                .attribute-list {
                    display: flex;
                    flex-wrap: wrap;
                    width: 160px;
                    margin-bottom: 0;

                    .attribute-list__item {
                        @include general.flex;

                        height: 32px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        font-size: general.$font14;
                        border: 1px solid general.$black;
                        transition: general.$defaultTransition;

                        &.selected {
                            color: general.$white;
                            background-color: general.$black;
                        }

                        &:hover {
                            cursor: default;
                        }
                    }

                    &.colors {

                        .attribute-list__item {
                            width: 16px;
                            height: 16px;
                            border: none;

                            &.selected {
                                box-shadow: general.$selectedColorAttributeMinicart;
                            }
                        }
                    }
                }
            }
        }

        .item-actions {
            display: flex;
            width: 24px;
            height: general.$fullHeight;

            .item-amount {
                @include general.flex(center, space-between, column);

                margin-right: 10px;

                .amount-btn {
                    @include general.flex;

                    width: 24px;
                    height: 24px;
                    background-color: transparent;
                    border: 1px solid general.$black;
                }

                .amount {
                    font-weight: general.$medium;
                    font-size: general.$font16;
                }
            }

            .item-image {
                position: relative;
                height: general.$fullHeight;

                .image {
                    width: 120px;
                    height: general.$fullHeight;
                }
            }

            .changer {
                position: absolute;
                right: 15px;
                bottom: 15px;
                display: flex;

                .changer-btn {
                    @include general.flex(stretch, center);

                    width: 24px;
                    height: 24px;
                    color: general.$white;
                    background: #000000ba;
                }

                .prev-img {
                    margin-right: 10px;
                }
            }
        }
    }

    .total {
        @include general.flex(center, space-between);

        width: general.$fullWidth;
        margin: 30px 0;
        font-weight: general.$bold;
        font-size: general.$font16;
    }

    .minicart-btns {
        @include general.flex(center, space-between);

        width: general.$fullWidth;

        .bag-btn {
            @include general.flex;

            box-sizing: border-box;
            margin-right: 15px;
            padding: 15px 30px;
            font-weight: general.$bold;
            font-size: general.$font14;
            border: 1px solid general.$black;
        }

        .checkout-btn {
            @include general.flex;

            box-sizing: border-box;
            padding: 15px 30px;
            color: general.$white;
            font-weight: general.$bold;
            font-size: general.$font14;
            background-color: general.$green;
            border: none;
        }
    }
}
