@use './styles/fonts.scss';
@use './styles/colors.scss';

body {
  margin: 0;
  font-family: fonts.$raleway;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: colors.$black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}